{% load static %}
{% load get_menu_json %}
{% load catalogue_urls %}
{% get_user_menu as USER_MENU %}

{% block extra_style %}
{% endblock %}

<style>
    #{{ id|default:'' }}-bottom {
        display: none;
        margin-bottom: 0;
    }
    @media (max-width: 748px) {
        #{{ id|default:'' }} .gn-menu-content-center > * {
            display: none;
        }
        #{{ id|default:'' }}-bottom {
            display: flex;
            width: calc(100% - 16px);
            margin: 8px;
        }
    }
    button_container {
    	margin: 0 0 0 calc(10px * var(--mid));
    	flex-direction: column;
    }
    button {
    	display: block;
    	cursor: pointer;
   	outline: none;
    	background-color: transparent;
    	height: calc(30px * var(--mid));
    	font-size: calc(14px * var(--mid));
    	text-transform: none;
    	border-radius: calc(60px * var(--mid));
    	border-color: #1f5763;
    	margin-top: calc(10px * var(--mid));
    	color: #1f5763;
    	font-weight: 300;
    	min-width: 100%;
    	border: solid calc(1px * var(--mid));
    	width: calc(125px * var(--mid));
    }
</style>

<nav id="{{ id|default:'' }}" class="gn-menu gn-menu-symmetric">
    <div class="gn-menu-container">
        <div class="gn-menu-content">
            <div class="gn-menu-content-left">
                {% block left_menu %}
                <ul class="gn-menu-list">
                    <li>
                        <a href="{% block logo_href %}{% catalogue_home %}{% endblock %}">
                            {% if custom_theme.logo and custom_theme.logo.url %}
                                <img src="{{ custom_theme.logo.url }}">
                            {% else %}
                                <img src="{% block logo_src %}/static/mapstore/img/cacip_logo_1.png{% endblock %}">
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% endblock %}
            </div>
            <div class="gn-menu-content-center">
                {% block center_menu %}
                    {% include './search_bar.html' with search_bar_id='gn-search-bar' %}
                {% endblock %}
            </div>
            <div class="gn-menu-content-right">
                {% block right_menu %}
                <ul class="">
                    {% for menu_item in USER_MENU %}
                        {% include './menu_item.html' with menu_item=menu_item align_right=True %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
<div id="{{ id|default:'' }}-bottom">
    {% block bottom_menu %}
        {% include './search_bar.html' with search_bar_id='gn-search-bar-bottom' %}
    {% endblock %}
</div>
