

<footer class="gn-footer">
    <div>
        <img width="280" height="65" src="/static/mapstore/img/1.WB-logo-01.png" alt="" class="wp-image-60">
    </div>
    <div>
        <img width="60" height="58" src="/static/mapstore/img/2.-CAREC-logo-01.png" alt="" class="wp-image-61">
    </div>
    <div>
        <img width="60" height="59" src="/static/mapstore/img/3.-IFAS-01.png" alt="" class="wp-image-62">
    </div>
    <div>
        <img width="60" height="51" src="/static/mapstore/img/4.-ICARDA.png" alt="" class="wp-image-63">
    </div>
    <div class="copyright">
        Copyright © 2022 Central Asia Climate Portal
    </div>
    <link rel="stylesheet" href="https://centralasiaclimateportal.yesinternet.com.gr/geonode/styles.css">
    <script src="https://centralasiaclimateportal.yesinternet.com.gr/geonode/scripts.js"></script>
</footer>
