

<footer class="gn-footer">
    <div>
        <a href="https://www.vsemirnyjbank.org//">
            <img width="280" height="65" src="/static/mapstore/img/1.WB-logo-01.png" alt="" class="wp-image-60">
        </a>
    </div>
    <div>
        <a href="https://carececo.org/main/">
            <img width="60" height="58" src="/static/mapstore/img/2.-CAREC-logo-01.png" alt="" class="wp-image-61">
        </a>
    </div>
    <div>
        <a href="http://ru-ec-ifas.waterunites-ca.org/index.html">
            <img width="60" height="59" src="/static/mapstore/img/3.-IFAS-01.png" alt="" class="wp-image-62">
        </a>
    </div>
    <div>
        <a href="https://www.icarda.org/ ">
            <img width="60" height="51" src="/static/mapstore/img/4.-ICARDA.png" alt="" class="wp-image-63">
        </a>
    </div>
    <div class="copyright">
        Copyright © 2022 Central Asia Climate Portal
    </div>
    <link rel="stylesheet" href="https://centralasiaclimateportal.org/geonode_static/styles.css">
</footer>
